.sidebar{
    position: fixed; /* or 'sticky' if you want it to scroll with content */
    top: 0px;
    left: 0;
    height: 100vh;
    width: 300px;
    color: black;
    /* background-color:; */
    /* display: block  ; */
    overflow-y: auto; /* Adds scroll if content exceeds height */
    z-index: 1000; 
    border: 1px solid black;
    border-radius: 5px;
    z-index: 4;
}


.logout
{
 position: fixed;
 /* height: 90vh; */
 z-index: inherit;
 width: 299px;
 height: 50px;
 /* z-index: 7; */
 border-radius: 5px;
 border-style: none;
 top:94vh;
}

.logout:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);

}

ul{
    border-style: none;
    /* width: 300px; */
    /* background-color: aqua; */
    padding:0;
}

ul li
{
    list-style: none;    
    
}
.items
{
    width: 300px;
    border-style: none;
    height: 40px;
    border-radius: 5px;
    background-color: white;

}

.items:hover{
    cursor: pointer;
    /* z-index: 5; */
    /* background-color: #e0e0e0; */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}